#page{
	width: 800px;
	margin: 0 auto;
}

#header{
	width: 100%;
	height:100px;
	border: 1px solid #000;
	margin-bottom:16px;
}

#content{
	width: 100%;
	height:200px;
	margin-right:16px;
	margin-bottom:16px;
	border: 1px solid #000;
}

#footer{
	width: 100%;
	height:100px;
	border: 1px solid #000;
	
}