<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://xmlns.jcp.org/jsf/html"   
		xmlns:ui="http://java.sun.com/jsf/facelets"
		>

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <title>JSF Response Page</title>
    
</h:head>

<h:body>
		<ui:composition template="layouts/commonLayout.xhtml">
		    
		    <ui:define name="content">
			    
			    Username: <h:outputText value="#{login.userName}" />
				<br></br>
				Password:  <h:outputText value="#{login.password}" />
				<br/>
				<br></br>
				
				<form action="Login.xhtml">
    				<button type="submit" >Return to Login</button>
				</form> 						
	    	</ui:define>
	    	
	    	
	    </ui:composition>
</h:body>
</html>